<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="..\Libraries\packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="SDL Nexus" value="https://nexus.sdl.com/repository/releases_dotnet/" />
  </packageSources>
  <disabledPackageSources />
</configuration>